.container {
    color: #ffffff;
    margin-left: 30px;
    margin-top: 20px;
}

.title {
    line-height: 60px;
    font-weight: 500;
}

.formContainer {
    padding: 10px;
}

.text {
    width: 90%;
    height: 40px;
    border-radius: 6px;
}

.submit {
    width: 30%;
    height: 50px;
    background: #061929;
    color: #ffffff;
    border: none;
}