.list {
    width: 80%;
    margin: 10px;
    height: 40px;
    color: #000000;
    list-style: none;
    background: #ffffff !important;
}

.list h4 {
    padding-top: 10px;
    padding-left: 10px;
}

.list h4:hover {
    border-left: 5px solid black;
    height: 30px;
}

.list h4:hover .close {
    display: block;
    cursor: pointer;

}

.amount {
    float: right;
    margin-right: 10px;
    font-weight: 300 !important;
}

.close {
    background: #000000;
    width: 40px;
    height: 20px;
    float: right;
    margin-right: -50px;
    text-align: center;
    display: none;
    color: #ffffff;
    margin-top: -2px;
}